@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@font-face {
  font-family: 'Myriad Set Pro Thin';
  src: url("../../assets/fonts/MyriadSetPro-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/MyriadSetPro-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/MyriadSetPro-Thin.woff2") format("woff2"), url("../../assets/fonts/MyriadSetPro-Thin.woff") format("woff"), url("../../assets/fonts/MyriadSetPro-Thin.ttf") format("truetype"), url("../../assets/fonts/MyriadSetPro-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 17, D:/wamp64/www/style/scss/basic.scss */
html {
  background: #FFFFFF;
  height: 100% !important;
}

/* line 39, D:/wamp64/www/style/scss/basic.scss */
ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 45, D:/wamp64/www/style/scss/basic.scss */
li {
  display: inline-block;
}

/* line 49, D:/wamp64/www/style/scss/basic.scss */
a {
  color: #989898;
  text-decoration: none;
}

/* line 54, D:/wamp64/www/style/scss/basic.scss */
input {
  border: 0;
}

/* line 56, D:/wamp64/www/style/scss/basic.scss */
input:focus {
  border: 0;
  outline: 0;
}

/* line 62, D:/wamp64/www/style/scss/basic.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 68, D:/wamp64/www/style/scss/basic.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 73, D:/wamp64/www/style/scss/basic.scss */
button {
  border: 0;
  cursor: pointer;
}

/* line 76, D:/wamp64/www/style/scss/basic.scss */
button:focus {
  outline: none;
}

/* line 81, D:/wamp64/www/style/scss/basic.scss */
.button {
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}

/* line 88, D:/wamp64/www/style/scss/basic.scss */
.rl-container {
  position: relative;
}

/* line 92, D:/wamp64/www/style/scss/basic.scss */
.boxed {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  -moz-box-sizing: border-box;
}

/* line 98, D:/wamp64/www/style/scss/basic.scss */
.boxedSmall {
  box-shadow: 0 1px 1px #66abab;
  -moz-box-sizing: border-box;
}

/* line 103, D:/wamp64/www/style/scss/basic.scss */
.slow {
  transition: all .2s ease-in-out;
}

/* line 107, D:/wamp64/www/style/scss/basic.scss */
.row {
  width: 1124px;
  margin: 0 auto;
}

/* line 112, D:/wamp64/www/style/scss/basic.scss */
.center {
  text-align: center;
}

/* line 116, D:/wamp64/www/style/scss/basic.scss */
.spacer.huge {
  height: 20vh;
}

/* line 117, D:/wamp64/www/style/scss/basic.scss */
.spacer.big {
  height: 10vh;
  position: relative;
}

/* line 2, D:/wamp64/www/style/scss/style.scss */
html,
body {
  font-family: "PT Sans", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
}

/* line 12, D:/wamp64/www/style/scss/style.scss */
header {
  background: #9ac3c3;
  height: 250px;
  position: relative;
}

/* line 16, D:/wamp64/www/style/scss/style.scss */
header:after {
  content: " ";
  box-shadow: inset 0 -11px 8px -10px rgba(102, 146, 146, 0.46);
  -moz-box-sizing: border-box;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 28, D:/wamp64/www/style/scss/style.scss */
.navigation {
  position: absolute;
  background: #FFF;
  padding: 0 30px;
  left: 50%;
  border-radius: 26px;
  top: 50%;
  transform: translate(-50%, 0);
  margin-top: -26px;
  z-index: 2;
}

/* line 39, D:/wamp64/www/style/scss/style.scss */
.navigation ul li {
  padding-left: 35px;
}

/* line 41, D:/wamp64/www/style/scss/style.scss */
.navigation ul li a {
  display: block;
  padding: 15px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 0.85em;
  position: relative;
}

/* line 48, D:/wamp64/www/style/scss/style.scss */
.navigation ul li a.active {
  color: #b18646;
  font-weight: bold;
}

/* line 52, D:/wamp64/www/style/scss/style.scss */
.navigation ul li a.active:before {
  content: " ";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #81a0fa;
  vertical-align: middle;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -10px;
  position: absolute;
}

/* line 66, D:/wamp64/www/style/scss/style.scss */
.navigation ul li:first-child {
  padding-left: 0;
}

/* line 72, D:/wamp64/www/style/scss/style.scss */
.stackMenu {
  display: inline;
  padding-left: 80px;
}

/* line 75, D:/wamp64/www/style/scss/style.scss */
.stackMenu a {
  display: inline-block;
}

/* line 77, D:/wamp64/www/style/scss/style.scss */
.stackMenu a img {
  width: 30px;
}

/* line 83, D:/wamp64/www/style/scss/style.scss */
.topMenu {
  margin: 0 auto;
  position: relative;
  padding: 15px 0;
  padding-right: 80px;
}

/* line 88, D:/wamp64/www/style/scss/style.scss */
.topMenu .menuPost {
  float: right;
}

/* line 91, D:/wamp64/www/style/scss/style.scss */
.topMenu .menuPost ul li {
  padding-left: 25px;
}

/* line 93, D:/wamp64/www/style/scss/style.scss */
.topMenu .menuPost ul li a {
  display: block;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}

/* line 104, D:/wamp64/www/style/scss/style.scss */
.topMenuContent {
  position: relative;
  float: left;
  left: 120px;
  top: -45px;
}

/* line 109, D:/wamp64/www/style/scss/style.scss */
.topMenuContent .rw {
  position: relative;
  transform: translateY(-150%);
  text-align: center;
  background: #F5F5F5;
  border-radius: 4px;
  transition: all .35s ease-in-out;
  width: 150px;
}

/* line 118, D:/wamp64/www/style/scss/style.scss */
.topMenuContent .rw ul li {
  display: block;
}

/* line 120, D:/wamp64/www/style/scss/style.scss */
.topMenuContent .rw ul li a {
  padding: 8px 0;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}

/* line 127, D:/wamp64/www/style/scss/style.scss */
.topMenuContent .rw ul li:last-child {
  border-bottom: 0;
}

/* line 132, D:/wamp64/www/style/scss/style.scss */
.topMenuContent .rw.active {
  transform: translateY(0%);
  opacity: 1 !important;
}

/* line 138, D:/wamp64/www/style/scss/style.scss */
.ov-pa {
  overflow: hidden;
  padding: 5px;
}

/* line 143, D:/wamp64/www/style/scss/style.scss */
.grid {
  position: relative;
  margin-top: 50px;
}

/* line 146, D:/wamp64/www/style/scss/style.scss */
.grid .card {
  background: #fff;
  flex: 1;
  display: inline-block;
  position: relative;
  margin: 0 20px;
  border-radius: 6px;
  margin-bottom: 5em;
}

/* line 154, D:/wamp64/www/style/scss/style.scss */
.grid .card .media {
  padding-top: 0;
  max-width: 230px;
  overflow: hidden;
}

/* line 158, D:/wamp64/www/style/scss/style.scss */
.grid .card .media div {
  height: 344px;
}

/* line 160, D:/wamp64/www/style/scss/style.scss */
.grid .card .media div img {
  height: 344px;
  min-width: 230px;
  max-width: 230px;
}

/* line 166, D:/wamp64/www/style/scss/style.scss */
.grid .card .media .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: calc(100% - 87px);
  background: linear-gradient(to right, #3674ef, #4a9ef5);
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

/* line 176, D:/wamp64/www/style/scss/style.scss */
.grid .card .media .overlay .gallery {
  top: 50%;
  color: #5188ea;
  position: absolute;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}

/* line 187, D:/wamp64/www/style/scss/style.scss */
.grid .card .information {
  position: absolute;
  text-align: right;
  bottom: 100px;
  right: 50px;
}

/* line 193, D:/wamp64/www/style/scss/style.scss */
.grid .card .moreBtn {
  padding: 4px 10px;
  display: block;
  font-size: 12px;
  font-weight: 500;
  background: #9ac3c3;
  color: #fff;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 1px 5px rgba(4, 42, 117, 0.33);
  -moz-box-sizing: border-box;
}

/* line 205, D:/wamp64/www/style/scss/style.scss */
.grid .card .actionlist {
  position: relative;
  height: 25px;
}

/* line 208, D:/wamp64/www/style/scss/style.scss */
.grid .card .actionlist .addBtn {
  display: inline;
  position: absolute;
  right: 12px;
  line-height: 31px;
}

/* line 213, D:/wamp64/www/style/scss/style.scss */
.grid .card .actionlist .addBtn img {
  width: 15px;
}

/* line 217, D:/wamp64/www/style/scss/style.scss */
.grid .card .actionlist .loveBtn {
  display: inline;
  position: absolute;
  right: 38px;
  line-height: 31px;
}

/* line 222, D:/wamp64/www/style/scss/style.scss */
.grid .card .actionlist .loveBtn img {
  width: 15px;
}

/* line 230, D:/wamp64/www/style/scss/style.scss */
.grid.display {
  min-height: 100%;
  display: flex;
}

/* line 235, D:/wamp64/www/style/scss/style.scss */
#id {
  display: inline;
  float: left;
  padding-left: 12px;
}

/* line 239, D:/wamp64/www/style/scss/style.scss */
#id span {
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  color: #999;
}

/* line 244, D:/wamp64/www/style/scss/style.scss */
#id span:before {
  content: "#";
}

/* line 250, D:/wamp64/www/style/scss/style.scss */
.info {
  position: relative;
  padding: 0 13px;
  height: 20px;
  padding-left: 24px;
  margin-bottom: 7px;
}

/* line 256, D:/wamp64/www/style/scss/style.scss */
.info #name {
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

/* line 267, D:/wamp64/www/style/scss/style.scss */
.skills-thumb {
  padding-bottom: 12px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  border-top: 1px solid #e2e2e2;
}

/* line 274, D:/wamp64/www/style/scss/style.scss */
.skills-thumb .boxedMedium {
  display: inline-block;
  font-size: 12px;
  padding: 2px 5px;
  background: #ffffff;
  color: #9a9a9a;
}

/* line 283, D:/wamp64/www/style/scss/style.scss */
.key-form {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -53%);
  background: #fff;
  text-align: center;
  padding: 30px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #fa508c 0%, #fa508c 61%, #ffc86d 100%);
  border-image-slice: 1;
}

/* line 296, D:/wamp64/www/style/scss/style.scss */
.key-form form {
  position: relative;
}

/* line 298, D:/wamp64/www/style/scss/style.scss */
.key-form form input[type=text] {
  background: #eee;
  width: 225px;
  color: #888;
  padding: 0;
  text-transform: uppercase;
  border: 0;
  height: 21px;
}

/* line 307, D:/wamp64/www/style/scss/style.scss */
.key-form form span {
  margin-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
}

/* line 313, D:/wamp64/www/style/scss/style.scss */
.key-form form .keyBtn {
  border: 0;
  outline: none;
  position: absolute;
  right: 0;
  height: 21px;
  top: 0;
}

/* line 324, D:/wamp64/www/style/scss/style.scss */
.logoTilt {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #7e56ff;
  background-image: -webkit-linear-gradient(300deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
  background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 3.16667rem;
  line-height: 1.26316;
  text-decoration: none;
  font-weight: 300;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
  transform: perspective(500px);
  position: relative;
}

/* line 352, D:/wamp64/www/style/scss/style.scss */
.logoTilt .bgdrop {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  position: absolute;
  background-image: -webkit-linear-gradient(300deg, #5a00ff 0%, #1fff73 100%, #1fff73 100%);
  background-image: linear-gradient(150deg, #5a00ff 0%, #1fff73 100%, #1fff73 100%);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

/* line 365, D:/wamp64/www/style/scss/style.scss */
.logoTilt span {
  transform: translateZ(40px);
}

/* line 370, D:/wamp64/www/style/scss/style.scss */
.logo {
  text-align: center;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

/* line 376, D:/wamp64/www/style/scss/style.scss */
.logo div img {
  height: 100px;
  transform: translateZ(40px);
}

/* line 383, D:/wamp64/www/style/scss/style.scss */
.timeSlide {
  top: 0;
  position: absolute;
  width: 100%;
  height: 4px;
}

/* line 388, D:/wamp64/www/style/scss/style.scss */
.timeSlide li {
  width: 30%;
  height: 4px;
  top: -7px;
  position: relative;
  margin: 0 3px;
}

/* line 394, D:/wamp64/www/style/scss/style.scss */
.timeSlide li button {
  height: 4px;
  position: absolute;
  background: #ffffff7d;
  top: 0;
  width: 100%;
  left: 0;
  font-size: 0;
  transition: all .2s ease-in-out;
}

/* line 405, D:/wamp64/www/style/scss/style.scss */
.timeSlide .slick-active button {
  background: #fff !important;
}

/* line 410, D:/wamp64/www/style/scss/style.scss */
.media div:nth-child(2),
.media div:nth-child(3) {
  display: none;
}

/* line 415, D:/wamp64/www/style/scss/style.scss */
.media:hover:nth-child(2) {
  display: block;
}

/* line 419, D:/wamp64/www/style/scss/style.scss */
.slick-slide img {
  display: inline-block;
}

/* line 424, D:/wamp64/www/style/scss/style.scss */
#modalSearch {
  position: absolute;
  right: 0;
  top: -11px;
  line-height: 25px;
  width: 114px;
  padding-right: 14px;
  margin-right: 50px;
  background: #b18646;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  z-index: 2;
}

/* line 436, D:/wamp64/www/style/scss/style.scss */
#modalSearch:after {
  content: " ";
  background: url(../../assets/icons/magnifying-glass.svg) no-repeat;
  width: 20px;
  height: 20px;
  top: 4px;
  margin-left: 5px;
  position: absolute;
}

/* line 447, D:/wamp64/www/style/scss/style.scss */
.close-animatedModal {
  cursor: pointer;
  right: 50px;
  display: inline;
  float: right;
  color: #1eb1b1;
  position: relative;
  top: 50px;
  background: rgba(43, 43, 43, 0.45098);
  padding: 3px 10px;
  border-radius: 4px;
}

/* line 460, D:/wamp64/www/style/scss/style.scss */
.modal-content {
  top: 30%;
  left: 50%;
  position: relative;
  width: 500px;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* line 467, D:/wamp64/www/style/scss/style.scss */
.modal-content input {
  width: 100%;
  height: 50px;
  color: #FFF;
  background: none;
  border-bottom: 1px solid #fff;
}

/* line 474, D:/wamp64/www/style/scss/style.scss */
.modal-content input[type=text]::placeholder {
  color: #fff;
}

/* line 477, D:/wamp64/www/style/scss/style.scss */
.modal-content input[type=text]:focus::placeholder {
  color: transparent;
}

/* line 480, D:/wamp64/www/style/scss/style.scss */
.modal-content .searchBtn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  height: 20px;
  display: inline;
}

/*# sourceMappingURL=../css/style.map */